p {
    width: 30%;
    display: inline-block;
    padding: 5px;
}

.solid {
    border: thin solid red;
}

.dotted {
    border: medium dotted green;
}

.dashed {
    border: thick dashed blue;
}

.double {
    border: 5px double orange;
}

.groove {
    border: 0.5rem groove rgb(168, 186, 9);
}

.ridge {
    border: 0.5em ridge rgb(204, 94, 120);
}

.inset {
    border: 0.2cm inset #0b81db;
}

.outset {
    border: 5pt outset #ffdb3d;
}